<div class= "inventory-body">
  <div style="margin-top: 100px;"  class="container">
    <div class=" row">
        <div class="col-lg-6  grad1">
              <img src="../../assets/image/logo.png" class="img-fluid center" style="margin-top : 30px;">
              <p style="padding-top:20px;" class="text-white center2 size">Login to your account to get full User experience</p>
            <p style="padding-top:30px;" class="text-white size">Tips : Upragde your account to get access to our service </p>
        </div>
        <div class="col-lg-4  background2">
           <h3 class="purple size">Hello!</h3>
           <h3 class="purple2 size">Good Morning</h3>
         <div class="row" style="padding-left: 80px;">
           <h4 style="padding-top:30px;" class="purple2 size">Login</h4>
           <h4 style="padding-top:30px;"class = "size" >Your account</h4>
         </div>
         <input type="text" placeholder="email" class="input"  [(ngModel)]="email">
         <input type="password" placeholder="Password" class="input"  [(ngModel)]="password">
         <h6 style="padding-left:140px;padding-top: 10px;" class="purple2 size">Forget Password?</h6>
         <button type="button" (click)="logins() "class="button size">Login</button>
         <button type="button" (click)="loginGoogle() "  class="button size">login with gmail</button>
         <a href="http://localhost:4200/register" style="padding-left:100px;padding-top:30px;" class="purple2 size">Create account </a>
         </div>


    </div>
  </div>
  </div>
