<div class="inventory-body">
  <div style="margin-top: 100px;"  class="container">
    <div class="row">
        <div class="col-lg-6  grad1">
              <img src="../../assets/image/logo.png" class="img-fluid center">
              <p style="padding-top:20px;" class="text-white center2">Login to your account to get full User experiance</p>
            <p style="padding-top:30px;" class="text-white">Tips : Upragde Your Account to get Access to Our Service </p>
        </div>
        <div class="col-lg-4  background2">
           <h3 class="purple">Hello!</h3>
           <h3 class="purple2">Good Morning</h3>
         <div class="row" style="padding-left: 80px;">
           <h4 style="padding-top:30px;" class="purple2">Login</h4>
           <h4 style="padding-top:30px;" >Your account</h4>
         </div>
         <input type="text" placeholder="Username" class="input">
         <input type="password" placeholder="Password" class="input">
         <h6 style="padding-left:140px;padding-top: 10px;" class="purple2">Forget Password?</h6>
         <button type="button" class="button">Login</button>
         <h6 style="padding-left:100px;padding-top:30px;" class="purple2">Create a Account </h6>
         </div>


    </div>
  </div>
  </div>
