<header class="v-header container">
    <div class="fullscreen-video-wrap">
      <video src="./../../assets/video/changingweather.mp4" autoplay="" loop="" muted>
    </video>
    </div>
    <div class="header-overlay"></div>
    <fieldset class="header-content text-md-center">

      <div class="img animated fadeInUp delay-1"> <img src="./../../assets/image/logo3.png" class="logo"></div><br>
      <p class="animated fadeInUp delay-2">Weather World is the world’s most accurate source of weather.We make a difference in the lives of people who trust us each day.<br>The Weather World application has been developed for you at our company, 5Points, in collaboration with Henda Ouni, Haythem BenJbara and Seifedine Aouadi.
            We are a Tunisian meteorological company based in Tunis. At our company, we focus on weather prediction and meteorological data visualisation.
            We decided to take advantage of our knowledge and experience and create a top-quality application that clearly displays meteorological data from around the world and allows you to monitor weather development for any place on earth.</p>
      <button routerLink="/login" class="btn animated fadeInUp delay-3 ">GO</button>
    </fieldset>
  </header>
