.inventory-body{

  background: url('./../../assets/image/worldmap1.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.lineheader {
  margin-top: 18px;
  border-bottom: 1.4px solid white;
  opacity: 0.29;
}

.linefooter[_ngcontent-c1] {
  margin-top: 137px;
  border-bottom: 1.4px solid white;
  opacity: 0.29;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-family: 'Bai Jamjuree';
}

.h2, h2 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: white;
  font-family: 'Imprint MT Shadow';
}
.h1, h1 {
  font-size: 2rem;
  line-height: 6.2;
  font-family: 'Bai Jamjuree';
}

.bg-light {
  color: #ecf0f3;
  margin-top: -48px;
  font-family: 'Bai Jamjuree';
}

.bg-light {
  background-color: #f8f9fa00!important;
}

#myform[_ngcontent-c1][_ngcontent-c1] {
  margin-top: -88px;
  margin-left: 84px;
  font-family: 'Bai Jamjuree';
}
.h3, h3 {
  font-size: 1.75rem;
  line-height: 7.2;
  color: white;
  margin-left: 191px;
  font-family: 'Bai Jamjuree';
}

.btn-warning[_ngcontent-c1] {
  color: #212529;
  background-color: #e4cb18;
  border-color: #e4cb18;
  margin-left: 338px;
  padding: .275rem 1.75rem;
  font-family: 'Bai Jamjuree';
}

p {
  margin-top: 18px;
  margin-bottom: 1rem;
  font-family: 'Bai Jamjuree';
}

.btn-default[_ngcontent-c1] {
  display: inline-block;
  color: white;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #d2d1d100;
  border: 2px solid #f7f7f7;
  padding: 0.075rem 2.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  font-family: 'Bai Jamjuree';
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
  overflow: visible;
  padding-left: 8px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 14px;
}
